@model LanguageMastery.Models.STUDENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STUDENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stu_Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu_Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stu_Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu_Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stu_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stu_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stu_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stu_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
