@model IEnumerable<LanguageMastery.Models.STAFF>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staf_Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staf_Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staf_Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staf_emial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.staf_Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staf_Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staf_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staf_emial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.staf_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.staf_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.staf_Id })
        </td>
    </tr>
}

</table>
